<mat-toolbar color="primary" class="app-header">
    <div><a href="" target="_blank" class="positronx">STAL Technologies</a></div>
    <span class="nav-tool-items">

      <a mat-button mat-raised-button routerLink="/signup" routerLinkActive="active">LogIn</a>
    </span>
</mat-toolbar>
<mat-card>
    <mat-card-content>
        <div class="header">
            <h2 style="margin-top: 2em;">Please enter your Email Address for a reset code</h2>
        </div>
        <form (ngSubmit)="onResetpassword()" name="resetpasswordForm" [formGroup]="resetpasswordForm">
            <div class="email-input">
                <mat-form-field class="full-width" appearance="outline" style="margin-top: 4em;">
                    <mat-label>Email</mat-label>
                    <input formControlName = "email" matInput required >
                    <mat-error *ngIf="resetpasswordForm.get('email')?.errors?.['required']">Required Email Adress</mat-error>
                </mat-form-field>
            </div>
            <a mat-button mat-raised-button routerLink="#" routerLinkActive="active" class="ml-2" style="margin-top: 4em;">Send Email</a>
        </form>
    </mat-card-content>
</mat-card>